@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.food-banner {
  background-image: url("https://i.ibb.co/ySsRXtP/foodbanner.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 120px 0;
  position: relative;
}
.food-banner::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(85, 85, 84, 0.3);
  z-index: 0;
}
.register {
  background-image: url("https://i.ibb.co/0n0w6kD/register.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 120px 0;
  position: relative;
}
.homeContactBanner {
  background-image: url("https://i.ibb.co/Qn0QNPC/bg-Contact.webp");
  background-size: cover;
  background-attachment: fixed;
  padding: 220px 0;
}

@layer utilities {
  /* common css */

  .header {
    @apply py-1 sm:py-2;
  }
  .header-sticky {
    @apply sticky top-0 left-0 shadow-xl bg-red-500 z-50 transition-all duration-1000;
  }
  .header-container {
    @apply container flex justify-between items-center;
  }
  .cart-items {
    @apply fixed py-8 z-50 h-screen rounded-md bg-white shadow-3xl px-4 w-full md:w-96 transition-all duration-1000;
  }
  .cart-flex {
    @apply flex justify-between items-center gap-6;
  }
  .cart-in-de {
    @apply border border-primary px-2 cursor-pointer;
  }
  .cart-input {
    @apply focus:outline-none border border-primary w-6 pl-2;
  }
  .cart-item-delete {
    @apply px-2 py-1 rounded-md bg-secondary;
  }
  .cart-item-icon {
    @apply text-2xl cursor-pointer text-white;
  }
  .logo-area {
    @apply flex flex-col items-center;
  }
  .desktop-menu {
    @apply flex justify-between items-center gap-6;
  }
  .list-item {
    @apply font-semibold text-primary text-base cursor-pointer;
  }
  .mobile-menu {
    @apply block lg:hidden absolute w-1/3 md:w-1/4 mt-auto bg-secondary shadow-2xl z-30 top-0 bottom-0 transition-all duration-500;
  }
  .hideMenu {
    @apply pt-8 -mr-3 flex justify-end;
  }
  .hideMenu-icon {
    @apply text-2xl text-primary  rounded-full ring ring-offset-2 ring-primary;
  }
  .mobile-ul {
    @apply flex items-center mt-8 gap-4 flex-col;
  }
  .right-navbar {
    @apply flex items-center gap-6;
  }
  .cart-item {
    @apply absolute -top-2 w-5 text-white h-5 text-center -right-2 bg-red-500 rounded-full;
  }
  .hideCart-icon {
    @apply mb-4 rounded-full ml-0 sm:-ml-8 ring-secondary ring ring-offset-2;
  }
  .right-navbar-item {
    @apply font-bold text-2xl cursor-pointer;
  }
  .banner-container {
    @apply container flex flex-col sm:flex-row items-center my-12;
  }
  .banner-left {
    @apply sm:w-1/2 text-center sm:text-left;
  }
  .banner-subtitle {
    @apply text-base sm:text-lg lg:text-xl text-primary font-semibold;
  }
  .banner-title {
    @apply text-2xl sm:text-3xl lg:text-4xl text-primary font-semibold my-3 lg:my-4;
  }
  .banner-des {
    @apply text-natural text-xs sm:text-sm lg:text-base leading-6;
  }
  .order-btn {
    @apply bg-secondary hover:bg-primary duration-500 text-white rounded-md px-2 lg:px-4 py-1 sm:py-1 lg:py-2 sm:text-base text-sm font-semibold;
  }
  .foods-btn {
    @apply border border-secondary hover:border-primary hover:text-primary duration-500 text-secondary  rounded-md px-2 lg:px-4 py-1 sm:py-1 lg:py-2 sm:text-base text-sm font-semibold;
  }
  .banner-trust {
    @apply flex items-center sm:justify-start justify-center mt-8 gap-2 sm:gap-8;
  }
  .trust-flex {
    @apply flex items-center gap-1 sm:gap-3;
  }
  .trust-icon {
    @apply p-1 rounded-full bg-secondary text-white;
  }
  .trust-content {
    @apply text-sm sm:text-base text-primary font-semibold;
  }
  .category-container {
    @apply container py-12 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-8;
  }
  .category-flex {
    @apply flex items-center px-2 sm:pl-5 cursor-pointer gap-2 sm:gap-5 bg-[#fde4e4] rounded-md py-3 sm:py-4 lg:py-8;
  }
  .category-title {
    @apply text-sm sm:text-base md:text-lg lg:text-xl font-semibold;
  }
  .serve-subtitle {
    @apply text-secondary text-lg lg:text-xl font-semibold;
  }
  .serve-title {
    @apply text-primary font-semibold text-2xl lg:text-4xl my-4 sm:my-6;
  }
  .serve-des {
    @apply text-sm sm:text-base text-natural;
  }
  .serve-grid {
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8;
  }
  .single-serve {
    @apply text-center p-8 bg-white shadow-xl rounded-md;
  }
  .single-serve-title {
    @apply text-lg sm:text-xl text-primary font-bold my-2 sm:my-4;
  }
  .food-category-list {
    @apply bg-secondary w-full sm:w-2/3 lg:w-1/2 rounded-full mx-auto;
  }
  .foods-title {
    @apply text-4xl text-center font-bold text-primary mb-8;
  }
  .food-category {
    @apply flex items-center justify-between;
  }
  .category-item {
    @apply px-2 sm:px-4 lg:px-6 py-1 sm:py-2 rounded-full cursor-pointer flex items-center gap-2;
  }
  .foods-grid {
    @apply grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 sm:gap-6 mt-12;
  }
  .foods-product-item {
    @apply bg-white shadow-md rounded-md col-span-1 flex flex-col;
  }
  .product-content {
    @apply px-2 py-4 sm:px-4 lg:px-6 sm:py-6;
  }
  .product-img-div {
    @apply bg-[#dcdcdc]  rounded-tl-lg rounded-tr-lg relative;
  }
  .product-hover-content {
    @apply absolute scale-0 group-hover:scale-100 top-0 left-0 right-0 bottom-0 bg-imgColor flex justify-center items-center gap-3 duration-1000 transition-all rounded-tl-lg rounded-tr-lg;
  }
  .product-hover-icon {
    @apply text-xl px-2 py-1 bg-white rounded-md text-secondary hover:bg-secondary hover:text-white cursor-pointer;
  }
  .single-product-img {
    @apply cursor-pointer mx-auto duration-500 p-4 scale-75 transition-all hover:scale-100;
  }
  .single-product-title {
    @apply text-center text-sm md:text-base lg:text-lg font-semibold text-primary my-2;
  }
  .price-btn-flex {
    @apply flex flex-col sm:flex-row justify-between items-center gap-1 sm:gap-6;
  }
  .card-price {
    @apply font-semibold text-lg text-secondary;
  }
  .add-to-cart-btn {
    @apply bg-secondary hover:bg-primary duration-500 transition-all text-xs sm:text-base text-white px-4 py-2 rounded-full;
  }
  .show-all-btn {
    @apply text-xl duration-500 transition-all px-2 ring-2 ring-primary hover:ring-secondary ring-offset-2 sm:px-3 md:px-4 py-1 sm:py-2 text-white rounded-full hover:bg-secondary bg-primary hover:text-white cursor-pointer;
  }
  .tasty-container {
    @apply container flex flex-col sm:flex-row justify-between items-center gap-4 py-12;
  }
  .tasty-title {
    @apply text-2xl sm:text-3xl lg:text-4xl font-bold text-primary;
  }
  .tasty-des {
    @apply text-sm sm:text-base leading-7 text-natural py-5;
  }
  .tasty-flex {
    @apply flex flex-col justify-start sm:w-1/2 pr-5 sm:pr-0;
  }
  .testimonial-container {
    @apply container py-12 flex flex-col-reverse sm:flex-row justify-between items-center gap-4;
  }
  .footer-container {
    @apply container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 sm:gap-8;
  }
  .footer-headline {
    @apply text-xl text-primary font-semibold;
  }
  .footer-col-para {
    @apply my-3 text-primary;
  }
  .footer-input {
    @apply w-full border border-primary rounded-md h-12 pl-4 focus:outline-none;
  }
  .input-plane {
    @apply absolute bottom-0 bg-primary py-[14px] px-5 rounded-md right-0;
  }
  .footer-col-subtitle {
    @apply font-semibold text-base text-primary;
  }
  .food-banner-container {
    @apply container relative z-30 text-3xl font-semibold text-white;
  }
  .food-filter-container {
    @apply container flex justify-between items-center pt-12;
  }
  .filter-input {
    @apply border w-full border-primary rounded-md focus:outline-none pl-4 h-10;
  }
  .filter-search-icon {
    @apply absolute right-2 top-2 text-primary text-2xl cursor-pointer;
  }
  .filter-view {
    @apply text-2xl text-primary cursor-pointer;
  }
  .login-container {
    @apply h-full w-full sm:h-screen sm:w-screen flex flex-col justify-center items-center register;
  }
  .login-form {
    @apply px-4 py-3 mx-4 sm:mx-0 sm:px-24 sm:py-6 bg-white rounded-lg;
  }
  .form-title {
    @apply text-xl font-semibold text-primary md:text-2xl lg:text-4xl text-center;
  }
  .form-social-flex {
    @apply flex flex-col sm:flex-row gap-4 justify-center items-center py-4;
  }
  .social-github {
    @apply cursor-pointer w-full sm:w-auto px-4 sm:px-8 py-2 lg:py-4 bg-[#3b5998] rounded-md flex gap-2 items-center;
  }
  .social-google {
    @apply cursor-pointer w-full sm:w-auto px-4 sm:px-8 py-2 lg:py-4 shadow-3xl rounded-md flex gap-2 items-center;
  }
  .github-title {
    @apply text-lg sm:text-xl font-semibold text-white;
  }
  .google-title {
    @apply text-lg sm:text-xl font-semibold text-[#555555];
  }
  .form-submit {
    @apply w-full bg-primary border hover:border-primary hover:bg-white hover:text-primary transition-all duration-500 rounded-md  py-2 lg:py-3 text-white cursor-pointer text-lg sm:text-xl;
  }
}

@layer components {
  .form-label {
    @apply last:text-sm lg:text-lg font-semibold text-primary;
  }
  .form-input {
    @apply w-full shadow-3xl rounded-md h-10 lg:h-12 focus:outline-none focus:border-2 focus:border-primary pl-4;
  }
}
